<?xml version="1.0"?>
<launch>
    <arg name="kinect_name" default="kinectv1"/>
    <arg name="path" default="$(find kinect_video_recorder)/data/$(anon bag)" />
    <include file="$(find kinect_video_recorder)/launch/start_kinect.launch"/>
    <include file="$(find usb_cam)/launch/usb_cam.launch"/>

    <node name="rosbag" pkg="rosbag" type="record" args="/usb_cam/image_raw /$(arg kinect_name)/rgb/image_color /$(arg kinect_name)/depth_registered/disparity /tf -O /tmp/bag.bag" />
</launch>
